@model LoanCartViewModel

@if (Model.LoanCart.LoanCartItems.Count > 0)
{
    <li>
        <a asp-controller="LoanCart" asp-action="Index">
            <span class="glyphicon glyphicon-book"></span>
            <span id="cart-status">
                @Model.LoanCart.LoanCartItems.Count
            </span>
        </a>
    </li>
}
