@model LoanCartViewModel

<h2>Books to loan</h2>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Book</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.LoanCart.LoanCartItems)
		{
			<tr>
				<td class="text-left"><a asp-controller="LoanCart" asp-action="RemoveFromCart" asp-route-id="@item.Book.BookId">Remove</a></td>
				<td class="text-left">@item.Book.Title</td>
				
			</tr>
		}
	</tbody>
</table>

<div class="text-center">
	<a class="btn btn-primary" asp-controller="LoanCart" asp-action="ClearCart">Clear Cart</a>
	<a class="btn btn-primary" asp-controller="Loan" asp-action="Checkout">Checkout</a>
</div>