@model Book

<h1>Book information</h1>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<img src="@Model.ImageUrl" alt="Picture of book cover" />
		</div>
		<div class="col-md-8">
			<h2>@Model.Title</h2>
		</div>
		<div class="col-md-8">
			<h3>Author: @Model.Author</h3>
		</div>
		<div class="col-md-8">
			@Model.Description
		</div>
	</div>
</div>


