@model IEnumerable<Book>

<div class="row">
    <div class="col-md-16 offset-md-2">
        <h1>Books</h1>
        <table class="table">
            <thead>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    
                </th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">@item.Title</a>
                                
                        </td>
                        <td>
                            @item.Author
                        </td>
                        <td>
                            <div class="addToCart col-xs-12 col-md-12">
                                <p class="button">
                                    <a class="btn btn-dark" asp-controller="Loan" asp-action="NewLoan" asp-route-bookId="@item.BookId">Loan this book</a>
                                </p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>