@model Loan

<form asp-controller="Checkout" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="danger"></div>

    <div class="form-group">
        <label asp-for="CustomerId" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="CustomerId" class="form-control" />
            <span asp-validation-for="CustomerId" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete order" />
        </div>
    </div>
</form>