@model Book

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h3><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Title</a></h3>
        </div>

        <div class="addToCart">
            <p class="button">
                <h3><a class="btn btn-primary" asp-controller="LoanCart" asp-action="AddToLoanCart" asp-route-bookId="@Model.BookId">@Model.Title</a></h3>
            </p>
        </div>
    </div>
</div>